@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 30px;
}
article {
    will-change: transform;
}
.open {
    transform: translate3d(0px, 0px, 0px) !important;
}
.no-scroll {
    overflow: hidden;
}

/* MENU */

.menu {
    padding-top: 80px; 
    padding-bottom: 25px;
}
.menu-elements {
    width: 100%;
}
.menu-elements .menu-btn {
    position: relative;
    padding: 0 20px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--hamburger-btn);
    border: 1px solid var(--border); /* #EFF0F2 */
    border-radius: 10px;
}
.menu-elements .menu-btn span {
    border-right: 1px solid var(--subtitle);
    border-top: 1px solid var(--subtitle);
    transform: rotateZ(45deg);
    width: 8px;
    height: 8px;
    margin-left: 5px;
}
.menu-elements .menu-btn p {
    color: var(--subtitle);
    font-size: 14px;
    font-weight: 600;
    /* margin: 0; */
}
.menu-elements .menu-btn .toggle_btn {
    background: var(--toggle-btn-background);
    width: 50px;
    height: 26px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.1);
}
.menu-elements .menu-btn .toggle_btn .checkbox {
    width: 20px;
    height: 20px;
    margin-left: 27px;
    margin-top: 3px;
    background: var(--toggle-btn-check);
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    transition: margin 0.5s cubic-bezier(0.38, 0.24, 0.28, 1.17);
}
.checked {
    margin-left: 3px !important;
    transition: margin 0.5s cubic-bezier(0.38, 0.24, 0.28, 1.17);
    /* transition-delay: 0.2s; */
}
.hidden {
    /* visibility: hidden !important; */
    display: none !important;
}
.menu-elements .menu-btn .lang_checkbox {
    background: var(--toggle-btn-background);
    width: 20px;
    height: 20px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.08);

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-elements .menu-btn .lang_checkbox .lang_checked {
    width: 12px;
    height: 12px;
    background: var(--toggle-btn-check);
    border-radius: 50%;
}

/* HEADER */
header {
    position: absolute;
    z-index: 100;
    width: 100%;
}
header .hamburger_wrapper {
    z-index: 2;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
header .hamburger_btn {
    padding: 10px;
    margin-right: -10px;
    border-radius: 10px;
    background: var(--hamburger-btn);
    box-shadow: 0px 4px 12px -6px var(--img-shadow);
}
header .hamburger_btn div:not(.menu-is-open) {
    border: 1px solid var(--hamburger-lines);
    margin: 5px 0;
    width: 25px;
    border-radius: 2px;
    transition: margin .3s linear;
}
.menu-is-open {
    border: 1px solid var(--hamburger-lines);
    margin: 8px 0;
    width: 25px;
    border-radius: 2px;
    transition: margin .3s linear;
}

/* TITLE */
.title {
    position: relative;
    border-radius: 20px;
    margin: 0 -10px;
    margin-top: 85px;
    overflow: hidden;
    box-shadow: 
        inset 0px 0px 10px 2px rgba(0 ,0, 0 ,0.1), 
        inset 0px 0px 0px 0px rgba(20, 20, 20 ,0.1), 
        inset 0px 0px 20px 20px rgba(140, 140, 140 ,0.1), 
        inset 0px 0px 5px 1px rgba(40, 40, 40 ,0.1);
    /* box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.1); */
    /* box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        inset 0 100px 80px rgba(0, 0, 0, 0.12); */
    padding: 20px;
    pointer-events: none;
    /* background: linear-gradient(100deg, hsl(110deg 45% 50% / 100%) 0%, hsl(100deg 45% 60% / 100%) 100%); */
}
.green {
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, hsl(110deg 45% 50% / 100%) 0%, hsl(100deg 45% 60% / 100%) 100%);
}
.blue {
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, hsl(180deg 45% 50% / 100%) 0%, hsl(210deg 45% 60% / 100%) 100%);
}
.beige {
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, hsl(55deg 35% 60% / 100%) 0%, hsl(60deg 70% 80% / 100%) 100%);
}
.title h3 {
    font-family: 'Poppins', 'Inter';
    font-weight: 600;
    /* font-size: 27px; */
    font-size: clamp(22px, 6.8vw, 30px);
    line-height: 35px;
    color: var(--title);
    color: var(--white-kinda);

    margin: 0;
    padding: 0 20px;

    opacity: 0;
    position: absolute;
}
.title .title_wrapper .active{
    opacity: 1 !important;
}
.title .subtitle {
    display: flex;
    flex-direction: row;

    opacity: 0.8;
}
.title .subtitle svg {
    padding: 5px;
    padding-left: 0;
    margin-top: 5px;
}
.title p {
    font-family: 'Poppins', 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    font-size: clamp(10px, 3.5vw, 13px);
    line-height: 18px;
    color: var(--white-opaque-70);
}
.title .pages_indicator {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}
.title .pages_indicator div{
    margin: 0 5px;
    border-radius: 20px;
    width: 8px;
    height: 100%;
    background: var(--white-opaque-70);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.1);
    transition: width .2s  ease-in-out;
}
.title .pages_indicator .active{
    width: 25px !important;
    transition: width .4s  cubic-bezier(0.8, 0.1, 0.05, 2);
}

/* CATEGORIES */
@import url(./categories.css);

/* SEARCH */
@import url(./search.css);

/* MAP VIEW */
.map {
    padding-bottom: 70px;
    padding-top: 40px;
    /* padding-top: 125px; */
}
.map h5 {
    font-family: 'Poppins', 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    margin-bottom: 20px;
    color: var(--title);
}
.map .map-container {
    width: 100%;
    height: 90vw;
    border-radius: 12px;

    box-shadow: 0 6px 16px -6px var(--img-shadow);
}
.map .mapboxgl-map:-webkit-full-screen {
    border-radius: 0px;
}
body:not(:not(.dark)) .map .map-container {
    filter: brightness(.7) contrast(1.2);
}

/* FOOTER */
.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.links a {
    text-transform: uppercase;
    color: var(--subtitle);
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins', 'Inter';
    font-size: clamp( 13px, 4vw, 16px);
    font-size: small;
}
.links .dot {
    width: 4px;
    height: 4px; 
    background: var(--subtitle); 
    border-radius: 50%;
    margin: 0 10px;
}
.footer p {
    width: 100%;
    text-align: center;
    color: var(--subtitle);
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 500;
    font-family: 'Poppins', 'Inter';
    font-size: clamp( 13px, 4vw, 16px);
    font-size: small;

    margin: 0;
    padding: 30px 0 20px 0;
}
.footer p a {
    color: var(--subtitle);
    text-transform: uppercase;
    font-size: clamp( 13px, 4vw, 16px);
    font-size: small;
    font-weight: 600;
}

/* TOAST */
#toast {
    visibility: hidden;
    position: fixed;
    bottom: 30px;

    width: 80%;
    border-radius: 12px;
    box-shadow: 3px 6px 20px 5px var(--img-shadow);
    /* opacity: 0; */

    z-index: 1000;
    padding: 0 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.error {
    border: 1px solid var(--error-border);
    background: var(--error-back);
}
.info {
    border: 1px solid var(--info-border);
    background: var(--info-back);
}
.succcess {
    border: 1px solid var(--success-border);
    background: var(--success-back);
}
.default {
    border: 1px solid var(--border);
    background: var(--background);
}
.show {
    visibility: visible !important; 
    animation: fadein 0.5s, fadeout 0.5s var(--timeout);
}
#toast p {
    width: 100%;
    text-align: center;
    margin: 10px;

    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--black-opaque-60);
}

/* KEYFRAMES */

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes animateIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
