html {
  --white-kinda:      rgb(251, 251, 251);
  --white-shadow:     rgb(240, 240, 240);
  --border-gray:      rgb(173, 173, 173);
  --black-total:      rgb(0, 0, 0);
  --black-opaque-25:  rgba(0, 0, 0, 0.25);
  --black-opaque-35:  rgba(0, 0, 0, 0.35);
  --black-opaque-60:  rgba(0, 0, 0, 0.6);
  --black-opaque-70:  rgba(0, 0, 0, 0.7);
  --black-opaque-80:  rgba(0, 0, 0, 0.8);

  --white-total:      rgb(255, 255, 255);
  --white-opaque-10:  rgba(255, 255, 255, 0.1);
  --white-opaque-25:  rgba(255, 255, 255, 0.25);
  --white-opaque-35:  rgba(255, 255, 255, 0.35);
  --white-opaque-60:  rgba(255, 255, 255, 0.6);
  --white-opaque-70:  rgba(255, 255, 255, 0.7);
  --dark-shadow:      rgb(21, 21, 21);
  --dark-fill:        rgb(27, 27, 27);
  --dark-fill-box:    rgb(64, 64, 64);
  --dark:             rgb(44, 44, 44);

  --accent:             #7ac950; /* 48b24a 6ec16f 7ABC43 95CA68 */
  --accent-dark:        #5d9e28;

  --error-border:       #ec4e2c;
  --error-back:         #fcedea;
  --success-border:     #3ebd60;
  --success-back:       #ebf7ee;
  --info-border:        #006de4;
  --info-back:          #e5effa;

}

body:not(.dark) {
  --background: var(--white-kinda);
  --hamburger: var(--dark-fill);
  --border: var(--border-gray);
  --shadow: var(--white-shadow);
  --placeholder: var(--black-opaque-35);
  --header: var(--black-total);
  --title: var(--black-opaque-80);
  --subtitle: var(--black-opaque-60);
  --img-shadow: var(--black-opaque-25);
}

.dark {
  --background: var(--dark-fill);
  --hamburger: var(--white-kinda);
  --border: var(--border-gray);
  --shadow: var(--dark-shadow);
  --placeholder: var(--white-opaque-35);
  --header: var(--white-total);
  --title: var(--white-total);
  --subtitle: var(--white-opaque-70);
  --img-shadow: var(--black-opaque-35);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #1b1b1b; */
  background: var(--background);
  /* transition: all .2s ease-in-out; */
  overscroll-behavior: none;
}

canvas {
  outline: none;
}
