html {
  --white-kinda:      #fbfbfb;
  --white-shadow:     #f0f0f0;
  --border-gray:      #adadad;
  --border-alt:       #f4f4f4;
  --black-total:      #000000;
  --black-opaque-25:  rgba(0, 0, 0, 0.25);
  --black-opaque-35:  rgba(0, 0, 0, 0.35);
  --black-opaque-60:  rgba(0, 0, 0, 0.6);
  --black-opaque-70:  rgba(0, 0, 0, 0.7);
  --black-opaque-80:  rgba(0, 0, 0, 0.8);

  --white-total:      #ffffff;
  --white-opaque-10:  rgba(255, 255, 255, 0.1);
  --white-opaque-25:  rgba(255, 255, 255, 0.25);
  --white-opaque-35:  rgba(255, 255, 255, 0.35);
  --white-opaque-60:  rgba(255, 255, 255, 0.6);
  --white-opaque-70:  rgba(255, 255, 255, 0.7);
  --dark-shadow:      #151515;
  --dark-fill:        #1b1b1b;
  --dark-fill-alt:    #121212;
  --dark:             #2c2c2c;
  --light-grey:       #f0f2fa;

  --accent:             #7ac950; /* 48b24a 6ec16f 7ABC43 95CA68 */
  --accent-dark:        #5d9e28;

  --error-border:       #ec4e2c;
  --error-back:         #fcedea;
  --success-border:     #3ebd60;
  --success-back:       #ebf7ee;
  --info-border:        #006de4;
  --info-back:          #e5effa;


  --beige: #D9DD92;
  --light-b: #F5F5DC;
  --custom-white: #f3f2ec;

}

body:not(.dark) {
  --background: var(--white-kinda);
  --hamburger: var(--dark-fill);
  --border: var(--border-alt);
  --shadow: var(--white-shadow);
  --placeholder: var(--black-opaque-35);
  --header: var(--black-total);
  --title: var(--black-opaque-80);
  --subtitle: var(--black-opaque-60);
  --img-shadow: var(--black-opaque-25);

  --toggle-btn-background: rgba(0, 0, 0, 0.04);
  --toggle-btn-check: rgba(0, 0, 0, 0.3);

  --hamburger-btn: var(--white-total);
  --hamburger-lines: var(--black-opaque-60);
}

.dark {
  --background: var(--dark-fill-alt);
  --hamburger: var(--white-kinda);
  --border: var(--white-opaque-10);
  --shadow: var(--dark-shadow);
  --placeholder: var(--white-opaque-35);
  --header: var(--white-total);
  --title: var(--white-total);
  --subtitle: var(--white-opaque-70);
  --img-shadow: var(--black-opaque-60);

  --toggle-btn-background: rgba(255, 255, 255, 0.2);
  --toggle-btn-check: rgba(255, 255, 255, 0.4);

  --hamburger-btn: rgba(255, 255, 255, 0.05);
  --hamburger-lines: rgba(255, 255, 255, 0.4);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: var(--background);
  transition: all .2s ease-in-out;
  user-select: none;

  overscroll-behavior: none;
}

canvas {
  outline: none;
}
